body,
p,
a,
h1,
h2,
h3,
ul,
li {
  margin: 0;
}
@font-face {
  font-family: "ChaletComprime";
  src: url(../fnt/ChaletComprime.ttf);
}

body {
  font-family: "ChaletComprime";
  color: #ffffff;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav a {
  text-transform: capitalize;
}

header {
  display: grid;
  background: #101010;
}

.container {
  display: grid;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
}
li img {
  justify-self: center;
  align-self: center;
}

ul[aria-label="primaria"] a {
  display: inline-block;
  padding: 2rem 1.2rem;
  position: relative;
  font-size: 1.5rem;
}
ul[aria-label="primaria"] a::after {
  content: "";
  position: absolute;
  width: 0;
  display: block;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}
ul[aria-label="primaria"] a:hover:after {
  width: 100%;
  transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  margin: 1rem;
}
.logo:before {
  content: "";
  position: absolute;
  width: 0;
  display: block;
  height: 1.8rem;
  width: 2px;
  bottom: 0;
  left: calc(26px + 1rem);
  background-color: #ffffff;
}

main {
  position: relative;
  display: grid;
  min-height: 100vh;
  max-height: 120vh;
  background-image: url(../img/bg-main.png);
  background-size: cover;
  background-repeat: no-repeat;
}
main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #000000aa, #00000000);
  z-index: 1;
}

.info {
  position: absolute;
  max-width: 600px;
  margin: 8rem auto auto 4rem;
  z-index: 2;
}
.info h1 {
  font-size: 3rem;
}
.info p {
  font-size: 2rem;
}
.info h1,
.info p {
  margin: 1rem auto 0;
}

.btn,
.btn-2,
.btn-0 {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin-top: 1rem;
}
.btn {
  background: #ffffff30;
  width: max-content;
}
.btn-2,
.btn-0 {
  background: #1a1a1a;
}
.btn {
  padding: 1.2rem 3.6rem;
  text-align: center;
}
.btn-2 {
  width: 6rem;
  height: 4rem;
  padding-top: 2rem;
}
.btn-0 {
  width: 276px;
  justify-self: center;
  margin-bottom: 3rem;
}

.btn-show {
  width: max-content;
  display: block;
  padding: 2rem 22% 2rem 22%;
}
.btn-show:hover {
  cursor: pointer;
}

.btn:hover {
  background: #ffffff;
  color: #000000;
  transition: 0.3s;
}
.btn-2:hover {
  cursor: pointer;
}

#comprar {
  min-height: 150vh;
  max-height: 250vh;
  background-image: url(../img/bg-section.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#comprar h2 {
  margin: 3rem auto;
  font-size: 3rem;
  text-transform: capitalize;
}

.cartao {
  display: grid;
  background-color: #020202;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
}
.cartao h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.cartao p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.capa {
  display: block;
  justify-self: center;
  width: 300px;
  height: 300px;
  margin: 3rem 0;
}

.plataformas {
  max-width: 70%;
  margin-right: -2rem;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.plataformas li {
  display: inline-block;
}

.lista-plataformas li {
  display: block;
  width: auto;
  text-align: center;
  margin: 1rem 2rem;
}
.lista-plataformas li:last-child {
  margin-bottom: 2rem;
}
.lista-plataformas li:nth-child(2n-1) {
  border: 1px solid #00439c;
}
.lista-plataformas li:nth-child(2n-1):hover {
  background: #00439c;
  transition: 0.3s;
}
.lista-plataformas li:nth-child(2n) {
  border: 1px solid #387a26;
}
.lista-plataformas li:nth-child(2n):hover {
  background: #387a26;
  transition: 0.3s;
}
.lista-plataformas li:nth-child(5) {
  border: 1px solid #fcaf17;
}
.lista-plataformas li:nth-child(5):hover {
  background: #fcaf17;
  transition: 0.3s;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  header .container {
    justify-content: center;
  }
  .btn-show {
    padding: 2rem 25.3% 2rem 25.3%;
  }
  html {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .btn {
    padding: 1.2rem 2.2rem;
  }
  .btn-show {
    padding: 2rem 25.5% 2rem 25.5%;
  }
  html {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .logo {
    margin: 0.5rem;
  }
  .info {
    margin-top: 2rem;
    margin-left: 2rem;
    justify-items: center;
  }
  .info img {
    margin-left: 4rem;
  }
  .capa {
    width: 200px;
    height: 200px;
  }
  .plataformas {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .btn-0 {
    margin: 0;
  }
  li .btn-2 {
    margin: 0.8rem 0.4rem !important;
    padding: 0.8rem 1.4rem !important;
  }
  .btn-show {
    padding: 2rem 27% 2rem 27%;
  }
  html {
    font-size: 13px;
  }
}
