body,
p,
a,
h1,
h2,
h3,
ul,
li {
  margin: 0;
}
@font-face {
  font-family: "ChaletComprime";
  src: url(/fnt/ChaletComprime.ttf);
}

body {
  font-family: "ChaletComprime";
  color: #ffffff;
}

ul,
ol,
summary {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav a {
  text-transform: capitalize;
}

header {
  display: grid;
  background: #101010;
}

.container {
  display: grid;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
}

ul[aria-label="primaria"] a {
  display: inline-block;
  padding: 2rem 1.2rem;
  position: relative;
}
ul[aria-label="primaria"] a::after {
  content: "";
  position: absolute;
  width: 0;
  display: block;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}
ul[aria-label="primaria"] a:hover:after {
  width: 100%;
  transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  margin: 1rem;
}
.logo:before {
  content: "";
  position: absolute;
  width: 0;
  display: block;
  height: 1.8rem;
  width: 2px;
  bottom: 0;
  left: calc(26px + 1rem);
  background-color: #ffffff;
}

main {
  position: relative;
  display: grid;
  height: 100vh;
  background-image: url(/img/bg-main.png);
  background-size: cover;
  background-repeat: no-repeat;
}
main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #000000aa, #00000000);
  z-index: 1;
}

.info {
  position: absolute;
  max-width: 600px;
  margin: 8rem auto auto 4rem;
  z-index: 2;
}
.info h1 {
  font-size: 3rem;
}
.info p {
  font-size: 2rem;
}
.info h1,
.info p {
  margin: 1rem auto 0;
}

.btn {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: #ffffff30;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1.2rem 3.6rem;
  width: max-content;
}
.btn-2 {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: #1a1a1a;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1.2rem 3.6rem;
}
ul .btn-2 {
  width: max-content;
}
.btn:hover {
  background: #ffffff;
  color: #000000;
  transition: 0.3s;
}
.btn-2:hover {
  cursor: pointer;
}

#comprar {
  min-height: 150vh;
  max-height: 250vh;
  background-image: url(/img/bg-section.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#comprar h2 {
  margin: 3rem auto;
  font-size: 3rem;
  text-transform: capitalize;
}

.cartao {
  max-width: 400px;
  display: grid;
  background-color: #020202;
  border-radius: 5px;
  margin: 0 auto;
  padding: 3rem;
  justify-items: center;
}
.cartao h3 {
  margin: 2rem auto 1rem;
  font-size: 3rem;
}
.cartao p {
  margin: 1rem auto 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.capa {
  display: block;
  margin: 3rem auto 0;
  width: 300px;
  height: 300px;
}

.plataformas {
  max-width: 90%;
  margin-right: -2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.plataformas li {
  display: inline-block;
  margin: 0 2rem 1rem 0;
}

.lista-plataformas li {
  display: block;
  width: auto;
  text-align: center;
}
.lista-plataformas li:nth-child(2n-1) {
  border: 1px solid #00439c;
}
.lista-plataformas li:nth-child(2n-1):hover {
  background: #00439c;
  transition: 0.3s;
}
.lista-plataformas li:nth-child(2n) {
  border: 1px solid #387a26;
}
.lista-plataformas li:nth-child(2n):hover {
  background: #387a26;
  transition: 0.3s;
}
.lista-plataformas li:nth-child(5) {
  border: 1px solid #fcaf17;
}
.lista-plataformas li:nth-child(5):hover {
  background: #fcaf17;
  transition: 0.3s;
}
details.btn-2 {
  padding: initial;
}
summary {
  display: block;
  text-align: center;
  padding: 1.2rem auto;
}
