body,
p,
a,
h1,
h2,
h3,
ul,
li {
  margin: 0;
}

body {
  color: #ffffff;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav a {
  text-transform: capitalize;
}

header {
  display: grid;
  background: #101010;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
}

ul[aria-label="primaria"] a {
  display: inline-block;
  padding: 2rem 1.2rem;
  position: relative;
}
ul[aria-label="primaria"] a::after {
  content: "";
  position: absolute;
  width: 0;
  display: block;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}
ul[aria-label="primaria"] a:hover:after {
  width: 100%;
  transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  margin: 1rem;
}
.logo:before {
  content: "";
  position: absolute;
  width: 0;
  display: block;
  height: 1.8rem;
  width: 2px;
  bottom: 0;
  left: calc(26px + 1rem);
  background-color: #ffffff;
}

main {
  position: relative;
  display: grid;
  height: 100vh;
  background-image: url(/img/bg-main.png);
  background-size: cover;
  background-repeat: no-repeat;
}
main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #000000aa, #00000000);
  z-index: 1;
}

.info {
  position: absolute;
  max-width: 600px;
  margin: 8rem auto auto 4rem;
  z-index: 2;
}
.info h1 {
  font-size: 3rem;
}
.info p {
  font-size: 2rem;
}
.info h1,
.info p {
  margin: 1rem auto 0;
}

.btn {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: #ffffff30;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1.4rem 4rem;
  width: max-content;
}
